@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swald');
@import url('https://fonts.googleapis.com/css?family=Oswald:300 Trade+Winds&display');
body{
    margin: 0;
    padding: 0;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    user-select: none;
    text-transform: uppercase;
}
.form{
    align-content: center;
    box-sizing: border-box;
    display: none;
}
#loginComment{
    /* align-content: center; */
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;

}
.user input{
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    outline: none;
}
.username input{
    width: 400px;
    height: 30px;
    margin-top: 3%;
    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    font-size: 20px;
    outline: none; 
}
.user input::placeholder{
    color: #222;
}
.username input::placeholder{
    color: #222;
}
textarea{
    width: 400px;
    height: 200px;
    background: linear-gradient(18edeg, #5bea, #ffc0);
    box-shadow: 0 0 20px 4px #303030;
    resize: none;
    margin-top: 3%;
    padding-top: 10px;
    /* text-align: center; */
    font-size: 18px; 
}
textarea::placeholder{
    color: #222;
}
.sub{
    margin-top: 5%;
    position: relative;
}
.sub input{
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(18edeg, #5bea, #ffc0);
    border: 2px solid #fff;
    /* color: #f2f2f2; */
    font-family: 'Trade Winds', cursive;
    cursor: pointer;
}
.sub input[type='submit']:active{
    border-color: #755bea;
    /* outline: none; */
}
.rating{
    position: absolute;
    margin-left: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.rating input{
    display: none;
}
.rating label img{
    width: 50px;
}
.rating label{
    position: relative;
    width: 0px;
    height: 120px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}
.rating:hover label{
    width: 100px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label {
    opacity: 1;
    width: 100px;
    filter: grayscale(0);
}
label h4{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    padding-top: 0px;
    transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4{
    transform: translateY(0) scale(1);
    opacity: 1;
}
.flexbox-blog-item {

   border-radius: 15px;
   margin: 50px 50px;
   margin-top: 150px;

}
.flexbox-blog-item h3{
   padding-top: 15px;
   font-size: 2.5rem; 
}
.flexbox-blog-item p{
    font-size: 2rem;
}
.comment{
    /* background-color: gray; */
    margin-top: 30px;
    border: 1px solid lightgray;
    /* border-style: solid;
    border-width: 2px; */
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.commentContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    height: fit-content;
    padding-bottom: 20px;
    /* margin-left: 20vw; */
    /* float: left; */
    
}
.image img{
    width: 80px;
    height: 80px;
    /* padding-top: 30px;
    margin-top: 30px; */
    margin-left: 20px;
    border-radius: 50%;
    float: left;
}
.commentContainer .commentArea {
    align-items: center;
    margin-left: 3vw;
    justify-content: center;
}
.commentContainer .commentArea p{
    align-content: center;
    justify-content: center;
    /* position: absolute; */
    font-size: 2rem;
}
.commentContainer .address{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.commentContainer .address h5{
    font-size: 2rem;
    font-weight: bold;
}
.commentArea h3{
    font-size: 2rem;
}
.commentArea span{
 color: lightgray;

}