@import url('https://fonts.googleapis.com/css?family=montserrat:300,400,700&display=swap');
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    padding-top: 15vh;
    /* overflow-y: hidden; */
}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white; 
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    
}
.brand h1 span{
    color: crimson;
}

/* header section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: rgb(31, 30, 30);
    border-bottom: 3px solid cyan;
}
#header .header{
    min-height: 8vh;
    width: 100%;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;   
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul li a.active-link{
    color: brown;
}
#header .nav-list ul.active{
    left: 0;
} 
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
 #header .nav-list ul a::after {
    content: attr(data-after );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.024);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;  
}
#header .nav-list ul li:hover a{
    color: crimson;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px; 
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
} 
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
 /* end of header */
 .container-l {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-bottom: 0px;
    /* position: relative; */
    /* background-color: #494234; */
    color: white;
    justify-content: space-around;
}
.image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.image img {
    width: 20vw;
    height: 50vh;
    margin: auto;
    border-radius: 15px;
    /* margin-left: 10px; */
}
.avatar {
    width: 100px;
}
.login-container {
    padding: 10px 0;
    margin-top: 0%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    text-align: center;
}
form {
    width: 360px;
    margin-right: 10px;
    margin: auto;
    border-radius: 25px 25px;
    background: whitesmoke;
    justify-content: space-around;
    /* margin-bottom: 50px; */
}
form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: black;
}
.input_div.one {
    margin-top: 0;
}
.input_div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input_div.focus div h5{
    top: -5px;
    font-size: 15px;
    /* color: #38d39f; */
}
.login_container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
.input_div.focus::after, .input_div.focus::before {
    width: 50%;
}
.input_div::before {
    left: 50%;
}
.input_div::after, .input_div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
}
.input_div.focus::after, .input_div.focus::before {
    width: 50%;
}
.input_div::after {
    right: 50%;
}
.input_div::after, .input_div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
}
.input_div.two {
    margin-bottom: 4px;
}
.input_div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input_div::before {
    left: 50%;
}
.input_div::after, .input_div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
}
.input_div > div {
    position: relative;
    height: 45px;
}
.i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i {
    color: green;
    transition: .3s;
    font-size: 25px;
}
.input_div > div h5 {
    position: absolute;
    left: 30px;
    top: 30%;
    transform: translate(-30%);
    color: #999;
    /* display: none; */
    font-size: 18px;
    transition: .3s;
}
.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}
.input_div::after {
    right: 50%;
}
.input_div::after, .input_div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    margin-top: 5rem;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
    margin-bottom: 30px;
    text-align: center;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    /* left: 50px; */
    transform: translate(-50%, -50%);

}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    
}
 /* key frame */
 @keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
  /* end key frame */
/* media query */
@media only screen and (max-width: 768px){
    .container-l{
        display: flex;
        flex-direction: column;
    }
    .image img{
        height: 35vh;
        width: 45vw;
    }
   form{
       margin-bottom: 100px;
       margin-left: 125px;
   }
   div.h5{
       font-size: 1.9rem;
       font-weight: bold;
   }
   .btn{
       font-weight: bold;
       font-size: 1.9rem;
   }

}
  @media only screen and (min-width: 1200px) {
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li{
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
}
/* end media query */ 






