*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    border-bottom: 3px solid cyan;
    margin-right: 40px;
}
#header .header{
    min-height: 8vh;
    background-color: #29323c;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.brand h1 a{
     text-decoration: none;
    color: white;
    font-size: 2rem;
} 
 .brand h1 a span{
    color: crimson;
}
 #header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 80vh;
    right: 100%; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transition: .5s ease right;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
} 
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
/* #header .hamburger{
    height: 30px;
    width: 30px;
    display: inline-block;
    top: 3px;
    z-index: 100;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 50%;
} */
/* #header .hamburger .bar{
    height: 2px;
    width: 21px;
    position: relative;
    background-color: white;
    z-index: -1;
} */
/* #header .hamburger .bar::before{
    bottom: 7px;
} */
/* #header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
} */
/* #header .hamburger .bar::after{
    top: 7px;
} */
/* #header .hamburger .bar::before,
#header .hamburger .bar::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
} */
/* #header .nav-list ul.active{
    right: 0;
} */

/* end of header
.container_l{
    width: 90vw;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 0 2rem;
    background-color: tomato;
    margin-top: 10vh;
    margin-left: 5vw;
}
#image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#image .img{
    width: 500px;
}
.avatar{
    width: 100px;
}
.login-container{
    padding: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
form{
    width: 360px;
}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;

}
.input_div one {
    margin-top: 0;
}
.input_div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}





