
body{
    background-color: gray;
}
.container {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.main-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}
.content-container {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.signin-btn-wrapper {
    width: 40%;
    align-items: center;
}
.signin-btn-wrapper button {
    width: 50%;
    padding: 10px;
    border-radius: 20px 20px;
    border-width: 0px;
    background-color: green;
    color: #ffff;
    font-size: 16px;
    margin-top: 50%;
    margin-left: 25%;
}
.signup-form-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px 20px;
    background: black
}
form {
    width: 90%;
}
.input-wrapper {
    width: 100%;
    margin-top: 1em;
}
form label {
    display: block;
}
form input {
    width: 100%;
    padding: 13px;
    border-radius: 20px 20px;
    border-width: 0px;
}
.input-wrapper {
    width: 100%;
    margin-top: 1em;
}
form label {
    display: block;
}
form input {
    width: 100%;
    padding: 13px;
    border-radius: 20px 20px;
    border-width: 0px;
}
.input-wrapper {
    width: 100%;
    margin-top: 1em;
}
form label {
    display: block;
}
form input {
    width: 100%;
    padding: 13px;
    border-radius: 20px 20px;
    border-width: 0px;
}
.input-wrapper {
    width: 100%;
    margin-top: 1em;
}
form label {
    display: block;
}
.input-wrapper {
    width: 100%;
    margin-top: 1em;
}
form button {
    width: 50%;
    padding: 10px;
    border-radius: 20px 20px;
    border-width: 0px;
    background-color: green;
    color: #ffff;
    font-size: 16px;
    margin-left: 25%;
    margin-top: 1.2em;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    .container form{
        height: 100%;
        padding: 10px;
    }
    .content-container{
        /* margin-left: 150px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: center;
    }
    .signin-btn-wrapper{
        margin-bottom: 30px;
        
    }
    .cta{
        width: 100%;
        font-size: 2rem;
        padding: 20px 60px;
        text-align: center;
    }
    form{
        width: 100%;
    }
    .signup-form-wrapper{
        width: 100%;
    }
    .signin-btn-wrapper{
        width: 100%;
    }
    .input-wrapper{
        font-weight: bold;
        color: black;
        font-size: 2rem;
    }
}
