@import url('https://fonts.googleapis.com/css?family=montserrat:300,400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    
}
.brand h1 span{
    color: crimson;
}

/* header section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: rgb(31, 30, 30);
    border-bottom: 3px solid cyan;
}
#header .header{
    min-height: 8vh;
    width: 100%;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
    z-index: 500;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 150;
    overflow: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul li a.active-link{
    color: brown;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    z-index: 1;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.024);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
      
}
#header .nav-list ul li:hover a{
    color: crimson;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* end header section */

/* hero section */
#hero{
    display: flex;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
    /* background-color: black; */
    padding: 10px;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
/* #hero .image img{
    padding: 10px;
    margin-top: 150px;
    /* height: 100%;
    width: 100%; */
/* } */ */
#hero .info{
    width: 100%;
    /* z-index: 1; */
    margin-left: 20%
    /* float: right; */
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: crimson;
}
/* end hero section */

/*  project section */
#projects .projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    /* margin: 0 auto;
    padding: px 0;   */
}
#projects .projects .section-title{
    margin-top: 40px;
}
#projects .projects .section-title h1{
    font-size: 3rem;
    font-weight: 100;
    margin-top: 10px;
    border-bottom: 2px solid cyan;
    margin-bottom: 12px;
    text-align: center;
}
#projects .projects .pragra h2{
    color: crimson;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
#projects .projects .pragra p{
    font-size: 3rem;
    margin: 30px;
}
#projects .projects .pragra p span{
    font-size: 3.5rem;
    color: crimson;
}
.title h1 {
    text-align: center;
    color: blue;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
.flexbox-project {
    display: grid;
    grid-template-columns: 6rem;
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem;
    margin-left: 5vw;
}
.flexbox-project .flexbox-project-item {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px 2px #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80vw;
    height: 320px;
    transition: .6s ease;
}

.flexbox-project .flexbox-project-item p {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Skills{
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 20px;
}
.skills_image img{
    width: 10vw;
    height: 20vh;
    margin-left: 30px;

}
.detail_skill{
   margin-left: 40px;
}
.projects h3{
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid blanchedalmond;
}
.projects h2{
    font-size: 3rem;
    text-transform: uppercase;
}
.detail_skill p{
    font-size: 2rem;
}
/* End proj section  */

/* contact section */

#contact .contacts {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: #494234;
    color: white;
}

#contact .contacts h1{
    padding-top: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 4rem;
}
.contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contacts .address {
    width: 80vw;
    padding: 20px;
    text-align: center;
}
.contacts .address h3{
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contacts .address p{
    font-size: 2rem;
    font-weight: bold;
}
.contacts .contact-form {
    padding: 30px;
    transition: .7s ease right;
    text-align: center;
}
.contacts .contact-form h3{
    color: cyan;
    font-size: 20px;
}
:focus {
    outline: none;
}

.contacts .contact-form form{
    padding: 30px;
    margin-top: 30px;
    background-color: #0d0300;
    border-radius: 10px;
    height: fit-content; 
     text-align: left;
}
.contacts .contact-form input{
    width: 53vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #cccccc;
}
.contacts .contact-form form textarea{
    width: 53vw;
}
#contact .contacts .contact-form form button{
    padding: 10px;
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .6s ease;
}
#contact-form label{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 18px;
}
.contact-social-media {
    background-color: #0d0300;
    color: #eee;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.contact-social-media img{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .7s ease;
}
.contact-social-media :hover{
    transform: scale(2.2);
    transition: ease 0.2s;
}
.contact-form #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
/* End contact section */

/*  project section */
/* @keyframes */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: yellow;
        font-weight: 500;
    }
}
/* end @keyframes for tablet */
/* @media query */
@media only screen and (max-width: 768px){

    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    .section-title h1{
        font-size: 6rem;
    }

    /* hero */
    .hero{
        display: flex;
        flex-direction: column;
        padding-top: 75%;
    }
    #hero h1{
        display: block;
        font-size: 3rem;
    }
    #hero .hero{
        height: 80px;
        /* width: 75px; */
    }
     /* end hero */
     /* projects */
     #projects{
         max-height: 70vh;
         background-color: #eeeeee;
     }
     .projects{
         padding-top: 50%;
     }
     #projects .projects{
         height: 100%;
         max-height: 80vh;
     }
     #projects .projects .section-title h1{
         margin-top: -300px;
     }
     .projects .section-title h1{
         font-size: 3rem;
     }
     #projects .projects .pragra{
         margin-top: -3vh;
         height: 30vh;
     }
     #projects .projects .pragra h2{
         margin-top: -150px;
         font-size: 2.7rem;
     }
     #projects .projects .pragra p{
         font-size: 1.9rem;
         margin: 30px;
     }
     #projects .projects p span{
         font-size: 2.4rem;
     }
     #projects .projects a .btn{
         margin-top: -7vh;
         /* margin-bottom: 100px; */
         width: 300px;
         font-size: 1.4rem;
         margin-left: 5vw;
     }
     /* end projects */

     /* contact */
     .contact-wrapper{
        display: flex;
        flex-direction: column;
    
    }
     /* end contact */
}
/* for desktop */
@media only screen and (min-width: 1200px) {
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li{ 
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }

}

/* for desktop */
/* end @media query */